docs/tutorial/02_Basic/3_Code_Parameters/codes/iWrapped_codes/code_parameters/input.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    <xs:annotation>
        <xs:documentation>Code parameters for iWrap tutorial</xs:documentation>
    </xs:annotation>

    <!-- document element -->
    <xs:element name="parameters">
        <xs:complexType>
            <xs:all>
                <xs:element name="greeting" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="farewell" type="xs:string" minOccurs="1" maxOccurs="1"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

    
</xs:schema>